@using IssueTracker.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model EditProjectViewModel
@{
    ViewData["Title"] = "Edit Project: " + Model.Name;
}

@section Scripts2
{
    <link rel="stylesheet" href="../../dist/plugins/select2/css/select2.min.css">
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Edit Your Project</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="inputName">Project Name:</label>
                            <textarea id="inputName" name="Name" class="form-control" rows="1">@Model.Name</textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Project Description:</label>
                            <textarea id="inputDescription" name="Description" class="form-control" rows="3">@Model.Description</textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Status:</label>
                            <select id="inputStatus" name="Status" class="form-control custom-select">
                                <option selected value="@Model.Status">@Model.Status</option>
                                @if (Model.Status != "In Development")
                                {
                                    <option value="In Developement">In Development</option>
                                }
                                @if (Model.Status != "On Hold")
                                {
                                    <option value="On Hold">On Hold</option>
                                }
                                @if (Model.Status != "Revising")
                                {
                                    <option value="Revising">Revising</option>
                                }
                                @if (Model.Status != "Completed")
                                {
                                    <option value="Completed">Completed</option>
                                }
                                @if (Model.Status != "Withdrawn")
                                {
                                    <option value="Withdrawn">Withdrawn</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputCompany">Client Company:</label>
                            <textarea id="inputCompany" name="ClientCompany" class="form-control" rows="1">@Model.ClientCompany</textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputLeader">Project Leader:</label>
                            <select id="inputLeader" name="ProjectLeader" class="form-control custom-select">
                                <option selected value="@Model.ProjectLeader">@(userManager.FindByIdAsync(Model.ProjectLeader).Result.FirstName + " " + userManager.FindByIdAsync(Model.ProjectLeader).Result.LastName)</option>
                                @foreach (ApplicationUser user in userManager.Users)
                                {
                                    if (user != userManager.FindByIdAsync(Model.ProjectLeader).Result)
                                    {
                                        <option value="@user.Id">@(user.FirstName + " " + user.LastName)</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Select 1 or More Contributors:</label>
                            <div class="select2-blue">
                                <select class="select2" name="Contributors" multiple="multiple" data-dropdown-css-class="select2-blue" data-placeholder="Select a Contributors" style="width: 100%;">
                                    @foreach (ApplicationUser user in Model.Users)
                                    {
                                        <option value="@user.Id" selected>@(user.FirstName + " " + user.LastName)</option>
                                    }
                                    @foreach (ApplicationUser user in Model.OtherUsers)
                                    {
                                        <option value="@user.Id">@(user.FirstName + " " + user.LastName)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a asp-controller="Home" asp-action="Projects" class="btn btn-secondary">Cancel</a>
                                <input type="submit" asp-route-id="@Model.Id" value="Update Project" class="btn btn-success float-right">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->

@section Scripts{
    <script src="../../dist/plugins/select2/js/select2.full.min.js"></script>
    <script>$(function () {
            $('.select2').select2()

        })</script>
}