@using IssueTracker.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model EditTicketViewModel
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Ticket #" + Model.Id;
}

@section Scripts2
{
    <link rel="stylesheet" href="../../dist/plugins/select2/css/select2.min.css">
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Edit Your Ticket</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="inputName">Ticket Title:</label>
                            <textarea id="inputName" name="Name" class="form-control" rows="1">@Model.Name</textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputProject">Project Name:</label>
                            <select id="inputProject" name="ProjectName" class="form-control custom-select">
                                <option value="@Model.ProjectId" selected>@Model.ProjectName</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Ticket Description:</label>
                            <textarea id="inputDescription" name="Description" class="form-control" rows="3">@Model.Description</textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputPriority">Ticket Priority:</label>
                            <select id="inputPriority" name="Priority" class="form-control custom-select">
                                <option selected value="@Model.Priority">@Model.Priority</option>
                                @if (Model.Priority != "None")
                                {
                                    <option value="None">None</option>
                                }
                                @if (Model.Priority != "Low")
                                {
                                    <option value="Low">Low</option>
                                }
                                @if (Model.Priority != "Medium")
                                {
                                    <option value="Medium">Medium</option>
                                }
                                @if (Model.Priority != "High")
                                {
                                    <option value="High">High</option>
                                }
                                @if (Model.Priority != "Urgent")
                                {
                                    <option value="Urgent">Urgent</option>
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Status:</label>
                            <select id="inputStatus" name="Status" class="form-control custom-select">
                                <option selected value="@Model.Status">@Model.Status</option>
                                @if (Model.Status != "None")
                                {
                                    <option value="None">None</option>
                                }
                                @if (Model.Status != "Open")
                                {
                                    <option value="Open">Open</option>
                                }
                                @if (Model.Status != "In Progress")
                                {
                                    <option value="In Progress">In Progress</option>
                                }
                                @if (Model.Status != "Resolved")
                                {
                                    <option value="Resolved">Resolved</option>
                                }
                                @if (Model.Status != "Additional Info Needed")
                                {
                                    <option value="Additional Info Needed">Additional Info Needed</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputType">Ticket Type:</label>
                            <select id="inputType" name="Type" class="form-control custom-select">
                                <option selected value="@Model.Type">@Model.Type</option>
                                @if (Model.Type != "Bugs/Errors")
                                {
                                    <option value="Bugs/Errors">Bugs/Errors</option>
                                }
                                @if (Model.Type != "Feature Requests")
                                {
                                    <option value="Feature Requests">Feature Requests</option>
                                }
                                @if (Model.Type != "Other Comments")
                                {
                                    <option value="Other Comments">Other Comments</option>
                                }
                                @if (Model.Type != "Styling Comments")
                                {
                                    <option value="Styling Comments">Styling Comments</option>
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Assigned Developer:</label>
                            <select class="form-control custom-select" name="AssignedDeveloper">
                                <option selected value="@Model.AssignedDeveloper">@(userManager.FindByIdAsync(Model.AssignedDeveloper).Result.FirstName + " " + userManager.FindByIdAsync(Model.AssignedDeveloper).Result.LastName)</option>
                                @foreach (ApplicationUser user in userManager.Users)
                                {
                                    if (user.Id != Model.AssignedDeveloper)
                                    {
                                        <option value="@user.Id">@(user.FirstName + " " + user.LastName)</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a asp-controller="Home" asp-action="Tickets" class="btn btn-secondary">Cancel</a>
                                <input type="submit" value="Update Ticket" asp-route-id="@Model.Id" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-success" data-backdrop="static" data-keyboard="false">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->
<div class="modal fade" id="modal-success">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-success">
            <div class="modal-header">
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p>Your ticket has been updated.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <a type="button" asp-controller="Home" asp-action="Index" class="btn btn-outline-light">Back to Dashboard</a>
                <a type="button" asp-controller="Home" asp-action="Tickets" class="btn btn-outline-light">Your Tickets</a>
            </div>
        </div>

    </div>

</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script src="../../dist/plugins/select2/js/select2.full.min.js"></script>
    <script>$(function () {
            $('.select2').select2()

        })</script>
}