@using Microsoft.AspNetCore.Identity
@using IssueTracker.Areas.Identity.Data
@inject UserManager<ApplicationUser> userManager
@model TicketModel
@{
    ViewData["Title"] = "Details for Ticket #" + Model.Id;
}

<!--Ticket Details Card-->
@section Scripts2
{
    <link rel="stylesheet" href="../../dist/plugins/select2/css/select2.min.css">
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Ticket #@Model.Id Details:</h3>
                </div>
                <div class="card-body">
                    <label for="inputName">Ticket Title:</label>
                    <p class="text-muted">
                        @Model.Name
                    </p>
                    <label for="inputDescription">Description:</label>
                    <p class="text-muted">
                        @Model.Description
                    </p>

                    <label for="inputPriority">Priority:</label>
                    <p class="text-muted">
                        @Model.Priority
                    </p>
                    <label for="inputStatus">Status:</label>
                    <p class="text-muted">
                        @Model.Status
                    </p>
                    <label for="inputStatus">Type:</label>
                    <p class="text-muted">
                        @Model.Type
                    </p>
                    <label>Assigned Project:</label>
                    <p class="text-muted">
                        @Model.Project.Name
                    </p>
                    <label>Assigned Developer:</label>
                    <p class="text-muted">
                        @(userManager.FindByIdAsync(Model.AssignedDeveloper).Result.FirstName + " " + userManager.FindByIdAsync(Model.AssignedDeveloper).Result.LastName)
                    </p>
                    <label>Date Created:</label>
                    <p class="text-muted">
                        @(CommentModel.GetCommentDate(Model.DateCreated) + "  (" + Model.DateCreated.ToString("MM-dd-yyyy hh:mm tt") + ")")
                    </p>
                    <label>Date Modified:</label>
                    <p class="text-muted">
                        @(CommentModel.GetCommentDate(Model.DateModified) + "  (" + Model.DateModified.ToString("MM-dd-yyyy hh:mm tt") + ")")
                    </p>
                    <label>Created By:</label>
                    <p class="text-muted">
                        @(Model.User.FirstName + " " + Model.User.LastName)
                    </p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-header">
                    Ticket Comments
                </div>
                <div class="card-footer card-comments">
                    @foreach (CommentModel comment in Model.Comments.OrderByDescending(c => c.DateCreated).Take(10).Reverse())
                    {
                        <div class="card-comment">
                            <div class="comment-text">
                                <span class="username">
                                    @(comment.User.FirstName + " " + comment.User.LastName)
                                    <span class="text-muted float-right">@CommentModel.GetCommentDate(comment.DateCreated)</span>
                                </span>
                                @comment.Content
                                <span class="float-right">
                                    <a asp-controller="Home" asp-action="DeleteComment" asp-route-ticketId="@Model.Id" asp-route-commentId="@comment.Id" class="link-black text-sm">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <form method="post">
                        <div class="input-group input-group-sm">
                            <input type="text" name="Comment" class="form-control" placeholder="Press enter to post comment">
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-success btn-flat">Send!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- /.card -->
    </div>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->



@section Scripts{
    <script src="../../dist/plugins/select2/js/select2.full.min.js"></script>
    <script>$(function () {
            $('.select2').select2()

        })</script>
}