@using Microsoft.AspNetCore.Identity
@using IssueTracker.Areas.Identity.Data;
@using IssueTracker.Models;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Http;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IssueTrackerIdentityDbContext db
@inject IHttpContextAccessor _context

@{
    var user = await UserManager.GetUserAsync(_context.HttpContext.User);
    var comments = db.Comments.Where(c => c.User != user).ToList();

    var projects = new List<ProjectModel>();
    foreach (ProjectModel project in db.Projects)
    {
        if (user.LastLogin < project.DateCreated)
        {
            projects.Add(project);
        }
    }

    var tickets = new List<TicketModel>();
    foreach (TicketModel ticket in db.Tickets)
    {
        if (user.LastLogin < ticket.DateCreated)
        {
            tickets.Add(ticket);
        }
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Navbar Search -->
        <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">@Math.Min(3, comments.Count)</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                @foreach (CommentModel comment in comments.OrderByDescending(c => c.DateCreated).Take(3))
                {
                    db.Entry(comment).Reference("Ticket").Load();
                    db.Entry(comment).Reference("User").Load();
                    <a asp-controller="Home" asp-action="TicketDetails" asp-route-id="@comment.Ticket.Id" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="/@comment.User.ProfilePhoto" alt="N/A" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    @(comment.User.FirstName + " " + comment.User.LastName)
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">
                                    @if (comment.Content.Length > 24)
                                    {
                                        @(comment.Content.Substring(0, 24) + "...")
                                    }
                                    else
                                    {
                                        @comment.Content
                                    }
                                </p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>@CommentModel.GetCommentDate(comment.DateCreated)</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                }
            </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">@(tickets.Count + projects.Count)</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">@(tickets.Count + projects.Count) Notifications</span>
                <div class="dropdown-divider"></div>
                @if (projects.Any())
                {
                    <a asp-controller="Home" asp-action="Projects" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> @projects.Count new project(s)
                        <span class="float-right text-muted text-sm">@CommentModel.GetCommentDate(projects.OrderByDescending(p => p.DateCreated).First().DateCreated)</span>
                    </a>
                }
                @if (tickets.Any())
                {
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Home" asp-action="Tickets" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> @tickets.Count new ticket(s)
                        <span class="float-right text-muted text-sm">@CommentModel.GetCommentDate(tickets.OrderByDescending(t => t.DateCreated).First().DateCreated)</span>
                    </a>
                }
            </div>
        </li>
        <!-- Hello User  -->
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.FirstName!</a>
        </li>
        <!-- Logout -->
        <li class="nav-item d-none d-sm-inline-block">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <!-- Register User  -->
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <!-- Login -->
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

